<h1>Pages#info</h1>
<p> My name is Rachel...</p>
<p> I am learning how to use <strong>Ruby on Rails</strong></p>
<ul>Things I like:
  <li>Writing</li>
  <li>The beach</li>
  <li>Coffee</li>
</ul>
<p>Find me in app/views/pages/info.html.erb</p>
